body {
    font-family: "jost", sans-serif;
    background-color: gray;
    color: #18181b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-color {
    width: 170px;
}

header {
    display: flex;
    gap: 27.5vh;
    background-color: #ffffff;
    align-items: center;
    padding: 1.5vh 0;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 7.5vh;
    
}

.nav-bar a {
    color: #0E0F1A;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 550;
    padding: 0;
}

.nav-bar a:hover {
    text-decoration: underline; 
}

.bookings-btn {
    border: none;
    background-color: #1a1c30;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 60px;
    font-size: 12pt;
    border-radius: 38px;
    cursor: pointer;
}

.bookings-btn:hover {
    opacity: 0.8;
}

.nav-button{
    display: flex;
    gap: 5px;
}

.nav-button div {
    color: #0E0F1A;
    height: 1px;
    width: 5px;
}

.sec1 {
    display: flex;
    align-items: center;
    height: 85vh;
    background: linear-gradient(rgba(14, 14, 14, 0.295), rgba(14, 14, 14, 0.45)), 
              url(yinka\,background\ image.png);
    background-size: cover;
    background-position: center;
    margin-top: 90px;
}

.section-texts {
    margin-left: 8vh;
}

.section-texts p {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: 55pt;
    font-family: 'Briem Hand', cursive;
    padding-bottom: 1vh;
}

.sub-title {
    font-size: 22pt;
    font-weight: bold;
    padding-bottom: 2vh;
}

.sub-p {
    font-size: 14pt;
    line-height: 1.7;
    font-weight: 600;
}

.btn {
    display: flex;
    gap: 2vh;
    margin-top: 6vh;
}

.btn button {
    border-radius: 30px;
    padding: 14px 60px;
    font-size: 13pt;
    cursor: pointer;
}

.btn1 {
    border: none;
    background-color: #ffffff;
    padding: 0;
}

.btn2 {
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #ffffff;
}

.btn2:hover {
    background-color: rgba(214, 214, 214, 0.219);
}

.moving-text {
    display: flex;
    gap: 3vh;
    font-size: 15pt;
    color: #ffffff;
    justify-content: center;
    background-color: #0E0F1A;;
    padding: 2vh 0;
    align-items: center;
    font-family: 'Briem Hand', cursive;
}

.sec2 {
    display: flex;
    padding: 14vh 0;
    background-color: #ffffffe7;
    gap: 14vh;
    padding-left: 8vh;
}

.sec2 span {
    color: #6204e7;
}

h2 {
    font-size: 40pt;
    width: 600px;
    line-height: 1.3;
    font-family: 'Briem Hand', cursive;
}

.sec2 p {
    font-size: 13.5pt;
    width: 580px;
    line-height: 1.5;
}

.sec2-white-div {
    background-color: #ffffff;
    width: 580px;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(158, 2, 106, 0.25);
    border-left: 5px solid #FF8ED9;
}

.sec2-white-div p {
    width: 520px;
}

.more-btn {
    border-radius: 30px;
    padding: 16px 60px;
    font-size: 12pt;
    background-color: #0E0F1A;
    color: #ffffff;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: #6204e7;
}

.linear-gradient-div {
    height: 3vh;
    background: linear-gradient(to right, #8379f9, #f89bc8);;
}

.sec3 {
    padding-top: 12vh;
    background-color: #5C2D82;
    padding-bottom: 14vh;
}

h3 {
    color: #ffffff;
    font-family: 'Briem Hand', cursive;
    font-size: 35pt;
    text-align: center;
    margin-bottom: 5vh;
}

.sec3-div {
    display: flex;
    justify-content: center;
    position: relative;
}

.firstchild-sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    background-color: #d6f6ff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 0 9vh 0 7vh;
}

.sec3-div p {
    font-size: 22pt;
    font-weight: 500;
    width: 550px;
    line-height: 1.3;
}

.yinkaimage3 {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 700px;
}

.sticker1 {
    position: absolute;
    top: 96.9vh;
    left: -0.2vh;
}

.play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 0 rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: absolute;
    top: 50vh;
    left: 153vh;
}

.play-button:hover {
    transform: scale(1.05);
}

.play-button-circle {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    width: 0;
    height: 0;
    border-left: 9px solid #7e3ff2;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-left: 3px; 
}

.sec4 {
    padding-top: 12vh;
    background-color: #ffffff;
    padding-bottom: 14vh;
}

.sec4-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vh;
    margin-bottom: 7vh;
}

.sec4-div1 p {
    font-size: 45pt;
    font-family: 'Briem Hand', cursive;
    font-weight: 600;
}

hr {
    width: 350px;
    border: solid 1px black;
}

.sec4-p2 {
    color: #8319d5;
}

.sec4-div2 {
    display: flex;
    justify-content: center;
    gap: 3.5vh;
}

.sec4-div2 div {
    width: 400px;
    background-color: #ffffff;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
}

.sec4-div2 p {
    font-weight: 500;
    font-size: 12pt;
    width: 350px;
}

.sec4-div3 {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
}

.sec4-div3 button {
    border-radius: 35px;
    padding: 16px 60px;
    font-size: 12pt;
    background-color: #0E0F1A;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.sec4-div3 button:hover {
    background-color: #6204e7;
}


.sec5 {
    background-color: #f8f3fb;
    padding-top: 12vh;
    padding-bottom: 14vh;
}

h4 {
    font-size: 45pt;
    font-family: 'Briem Hand', cursive;
    text-align: center;
    margin-bottom: 5vh;
}

.spotify-playlist {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.spotify-playlist-andimage {
    display: flex;
    gap: 22vh;
    padding-left: 8vh;
    margin-bottom: 8vh
}

.yinkaimage4-sticker {
    position: relative;
}

.yinkasticker4 {
    position: absolute;
    top: 365px;
    left: 300px;
}

.viewmore-btn {
    display: flex;
    justify-content: center;
}

.viewmore-btn button {
    border-radius: 35px;
    padding: 16px 60px;
    font-size: 12pt;
    color: #0E0F1A;
    border: solid 1px #9CA3AF;
    background-color: #ffffff;
    cursor: pointer;
}

.viewmore-btn button:hover {
    background-color: #f0f0f0;

}

.linear-gradient-div2 {
    height: 3vh;
    background: linear-gradient(to right, #8379f9, #f89bc8);;
}

footer {
    background-color: #18181B;
    padding-top: 13vh;
    padding-bottom: 3vh;
}

.footer-navbar {
    display: flex;
    gap: 5vh;
}

.footer-navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 11pt;
    font-weight: 550;
    padding: 0;
}

.footer-navbar a:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    gap: 2vh;
    position: relative;
}

.footer-socials img {
    width: 35px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.footer-h1 {
    color: #38383846;
    font-size: 135pt;
    font-family: 'Briem Hand', cursive;
    text-align: center;
    font-weight: bold;
}

.footer-text {
    color: #ffffff;
    text-align: center;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3vh;
}

@media (max-width: 500px) {
   header {
    width: 100%;
    padding: 3px 17px;
   }

   .logo-color {
    width: 130px;
   }
}





